*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 10px 0 0 20px;
    height: 80px;
}

#logo{
    vertical-align: middle;
}

#Toboolist{
    font-size: 50px;
    font-weight: 900;
    vertical-align: middle;
}

.container-grey{
    margin: 0px auto;
    background-color: lightgray;
    padding-top: 20px;
}

.container-white{
    width: 80%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

#add-task{
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

#add-section{
    color:grey;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

hr{
    margin: 20px 0;
}

