*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 10px 0 0 20px;
    height: 80px;
}

#logo{
    vertical-align: middle;
}

#Toboolist{
    font-size: 50px;
    font-weight: 900;
    vertical-align: middle;
}

.container-grey{
    background-color: lightgray;
    padding: 20px;
}

.container-white{
    width: 80%;
    background-color: white;
    margin: 2px auto;
    padding: 20px 50px;
    border-radius: 5px;
}

#padding-add{
    padding-left: 20px;
}

#add-task{
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 5px;
}

#add-section{
    color:grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.padding-section{
    padding: 20px;
}

.padding{
    padding: 10px;
}

.circle{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.green{
    border: 1px solid green;
    color: green;
    line-height: 20px;
}

.red{
    border: 1px solid red;
    color:red;
    line-height: 17px;
}

.banner{
    color: white;
    border-radius: 25px;
    padding: 7px;
    font-size: 80%;
}

.editorial{
    background-color: dodgerblue;
}

.q1-goals{
    background-color: darkslateblue;
}

.recluting{
    background-color: mediumseagreen;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: orchid;
}

.sales{
    background-color: yellowgreen;
}